<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="customerUpdatePasswordCommand" xsi:type="object">Rapicart\CustomerCommands\Console\Command\UpdatePasswordCommand</item>
                <item name="customerCreateCommand" xsi:type="object">Rapicart\CustomerCommands\Console\Command\CustomerCreateCommand</item>
            </argument>
        </arguments>
    </type>
</config>