<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="customerUpdatePasswordCommand" xsi:type="object">Rapicart\CustomerCommands\Console\Command\UpdatePasswordCommand</item>
                <item name="customerCreateCommand" xsi:type="object">Rapicart\CustomerCommands\Console\Command\CustomerCreateCommand</item>
                <item name="customerInfoCommand" xsi:type="object">Rapicart\CustomerCommands\Console\Command\CustomerInfoCommand</item>
                <item name="customerDeleteCommand" xsi:type="object">Rapicart\CustomerCommands\Console\Command\CustomerDeleteCommand</item>
                <item name="customerGroupCreateCommand" xsi:type="object">Rapicart\CustomerCommands\Console\Command\CustomerGroupCreateCommand</item>
                <item name="customerGroupListCommand" xsi:type="object">Rapicart\CustomerCommands\Console\Command\CustomerGroupListCommand</item>
                <item name="customerGroupDeleteCommand" xsi:type="object">Rapicart\CustomerCommands\Console\Command\CustomerGroupDeleteCommand</item>
                <item name="customerAddressListCommand" xsi:type="object">Rapicart\CustomerCommands\Console\Command\CustomerAddressListCommand</item>
                <item name="customerAddressDeleteCommand" xsi:type="object">Rapicart\CustomerCommands\Console\Command\CustomerAddressDeleteCommand</item>
            </argument>
        </arguments>
    </type>
</config>